{
    "extends": ["airbnb-base", "plugin:prettier/recommended"],
    "rules": {
        "import/no-unresolved": 0,
        "import/prefer-default-export": 0
    },
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    }
}